<!DOCTYPE html>
<html>
<head>
<title>Testing button</title>
</head>
<body>
  Main Courses
  <% @dishes.each do |dish| %>
    <form class="form" action="/add-to-order" method="post" id="dish_form_<%= dish.id %>">
      <%= dish.name %>: $<%= dish.price %>
      <input type="hidden" name="dish_id" value="<%= dish.id %>">
      <input class="btn btn-primary" type="submit" value="Add to Order">
    </form>
  <br />
  <% end %>

  <div>
    <form method="post" action="/checkout">
    <input class="btn btn-primary" type="submit" value="Checkout">
    </form>
  </div>

</body>
</html>
